*{
    
    padding: 10px;
    margin: auto;
    text-align: center;
}
main{
    background-color: bisque;
    width: 70%;
}
body{
    background-image:url(kepek/h4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    
}

h1,h2,main,aside,p{
    border: 2px solid black;
    border-radius:10px ;
}
.ready{
    background-color: rgb(176, 241, 176);
}
.delete{
    background-color: rgb(250, 132, 132);
}

footer p{
    background-color: rgb(210, 149, 83);
    color: white;
}
h1{
    font-size: 50px;
    padding-bottom: 50px;
    padding-top:50px ;
    
}